__pycache__/
*.pyc
*.egg-info/
*.tsv
*.xlsx
*.xls
.opencode/
**/2_run/output/
**/2_run/tmp/
.venv/
.vscode/

# Large data files
*.gz
*.zip
databases/

# Heavy results
results/
*.out
*.log

# Environments
.env
*.Rhistory

# Nextflow
work/
.nextflow